---
layout: default
---

{%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

<div class="home">
  
  <table width = "100%" border = "0" style="border: none;">     
    <tr valign = "center">
      <td width = "50" style="border: none;">
	<img src="assets/profile.jpg">
      </td>
      <td width = "100" style="border: none;">
        <h1>David Justen</h1>
	<p>Technische Universität Berlin<br/>
	Faculty IV - Electrical Engineering and Computer Science <br/>
	Big Data Engineering Group (DAMS Lab)</p>
	<p>Room TEL-0812, Ernst-Reuter-Platz 7, 10587 Berlin<br/>
	david.justen@tu-berlin.de</p>  
      </td>
         </tr>
  </table>

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>
